<h1>NY Shellfish Shippers</h1>
<h5>CERTIFICATES EXPIRE DECEMBER 31, 2017</h5>
<p>There are <%= get_total %> dealers total.</p>
<p>There are <%= get_aqua %> dealers with aquaculture permit.</p>
<p>There are <%= get_dshipper %> dealers with D-Shipper permit.</p>
<p>There are <%= get_rfh %> dealers with wet storage permit.</p>
<p>There are <%= get_rfh %> dealers who can receive from diggers.</p>
<div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>City</th>
        <th>State</th> 
        <th>Cert. #</th>
        <th>Type</th>
      </tr>
    </thead>
    <tbody>    
      <tr>
        <% @rows.each do |row| %>
        <td><%= "#{row.values[0]}" %></td>
        <td><%= "#{row.values[1]}" %></td>
        <td><%= "#{row.values[2]}" %></td> 
        <td><%= "#{row.values[3]}" %></td> 
        <td><%= "#{row.values[4]}" %></td>
      </tr>
        <%  end %>
    </tbody>
  </table>
</div>
